In [1]:
people = {
    'first': ['malaya', 'abinash', 'premanana'],
    'last': ['swain', 'patra', 'pati'],
    'email': ['malayakumarswain8@gmail.com', 'aabinashpatra@gmail.com', 'premanandapati3@gmail.com']
}
people

{&#39;first&#39;: [&#39;malaya&#39;, &#39;abinash&#39;, &#39;premanana&#39;],
 &#39;last&#39;: [&#39;swain&#39;, &#39;patra&#39;, &#39;pati&#39;],
 &#39;email&#39;: [&#39;malayakumarswain8@gmail.com&#39;,
  &#39;aabinashpatra@gmail.com&#39;,
  &#39;premanandapati3@gmail.com&#39;]}

In [2]:
people['email']

[&#39;malayakumarswain8@gmail.com&#39;,
 &#39;aabinashpatra@gmail.com&#39;,
 &#39;premanandapati3@gmail.com&#39;]

In [3]:
import pandas as pd
df = pd.DataFrame(people)
df

       first   last                        email
0     malaya  swain  malayakumarswain8@gmail.com
1    abinash  patra      aabinashpatra@gmail.com
2  premanana   pati    premanandapati3@gmail.com

In [4]:
df['email']
# df['email'] == df.email  (not recommanded)

0    malayakumarswain8@gmail.com
1        aabinashpatra@gmail.com
2      premanandapati3@gmail.com
Name: email, dtype: object

In [13]:
df.email

0    malayakumarswain8@gmail.com
1        aabinashpatra@gmail.com
2      premanandapati3@gmail.com
Name: email, dtype: object

In [6]:
type(df['email'])
# i.e data frames returns series not list because series are the single column of rows

pandas.core.series.Series

In [14]:
df[['last','email']]

    last                        email
0  swain  malayakumarswain8@gmail.com
1  patra      aabinashpatra@gmail.com
2   pati    premanandapati3@gmail.com

In [8]:
type(df[['last','email']])
# it is not a series(multiple column of rows) it is a frame

pandas.core.frame.DataFrame

In [15]:
df.columns

Index([&#39;first&#39;, &#39;last&#39;, &#39;email&#39;], dtype=&#39;object&#39;)

In [16]:
df.iloc[[1,2],[2]]

                       email
1    aabinashpatra@gmail.com
2  premanandapati3@gmail.com

In [17]:
# df.set_index('email', inplace=True)

In [18]:
# df.reset_index(inplace=True)

In [19]:
df

       first   last                        email
0     malaya  swain  malayakumarswain8@gmail.com
1    abinash  patra      aabinashpatra@gmail.com
2  premanana   pati    premanandapati3@gmail.com